@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');

@font-face {
    font-family: 'Futura';
    src: url('/futura.ttf') format('truetype');
}

:root {
    /* Text Colors */
    --light-text: #F5F5F5;
    --dark-text: #A1A1AA;
    --mid-text: #DDDDDD;
    /* Theme Colors */
    --green-color: #398C6F;
    --background-color: #171717;
    --card-background: #1E1E1E;
    /* Size */
    --small-text: 0.875rem;
    --mini-text: 0.65rem;
}

/* Reset CSS */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

a {
    text-decoration: none;
}

/* Global Styles */

body {
    background-color: var(--background-color);
    font-family: 'Open Sans';
}

img {
    max-width: 100%;
}

h1 {
    font-size: 2.25rem;
    font-weight: 400;
    color: white;
}

h2 {
    font-size: 2rem;
}


h3 {
    font-size: 1.5rem;
    font-weight: 400;
    color: var(--light-text);
}

h4 {
    font-size: 1.25rem;
    font-weight: 400;
}

p {
    font-size: 1rem;
}

/* Reusable Classes */

.container {
    max-width: 50rem;
    margin: 0 auto;
}

p.dark-text {
    color: var(--dark-text);
}

p.mid-text {
    color: var(--mid-text);
}

p.light-text {
    color: var(--light-text);
}

p.highlight-text {
    color: white;
}

p.green-text {
    color: var(--green-color);
    font-size: var(--small-text);
}

p.date {
    color: var(--dark-text);
    font-size: var(--mini-text);
}

h4.light-title {
    color: var(--light-text);
}

h4.dark-title {
    color: var(--mid-text);
}

.flex-col {
    display: flex;
    flex-direction: column;
}

/* Nav Styles */

nav {
    display: flex;
    justify-content: flex-end;
    gap: 2rem;
    padding: 1.5rem 0;
}

/* Home Styles */

.home-personal {
    margin: 5rem 0;
    gap: 1.5rem;
}

.personal-links {
    display: flex;
    align-items: center;
    gap: 1rem;
    margin: 0 auto;
    padding-top: 3rem;
}

.personal-links-icon {
    display: flex;
    gap: 0.5rem;
}

.small-line {
    height: 1px;
    width: 8rem;
    background-color: white;
}